.categories {
  width: 100%;
  height: auto;

  .cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 10px;
    margin: 10px 0;
    border-radius: 5px;
  }

  .succulent {
    background-color: #c9f889;
    color: rgb(85, 85, 85);

    .btn-succulent {
      border: 3px solid #555;
    }
    a {
      color: rgb(85, 85, 85);
    }
    a:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  .airplant {
    background-color: #77d99d;
    color: #eee;

    .btn-airplant {
      border: 3px solid #eee;
    }
    a {
      color: #eee;
    }
    a:hover {
      background-color: rgba(85, 85, 85, 0.2);
    }
  }

  .diy {
    background-color: #90f099;
    color: #555;

    .btn-diy {
      border: 3px solid rgb(85, 85, 85);
    }
    a {
      color: #555;
    }
    a:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  .pots {
    background-color: #8dd977;
    color: #eee;

    .btn-pots {
      border: 3px solid #eee;
    }
    a {
      color: #eee;
    }
    a:hover {
      background-color: rgba(85, 85, 85, 0.2);
    }
  }

  .card {
    width: 50%;
    max-height: 400px;

    .one {
      background-image: url(../img/succulents.png);
    }

    .two {
      background-image: url(../img/air-plant.png);
    }

    .three {
      background-image: url(../img/diy.png);
    }

    .four {
      background-image: url(../img/rosegold-pots-transparent.png);
    }

    .bg-img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: contain;
      display: flex;
      align-items: center;

      .cardinfo {
        text-align: left;
        padding: 0 9%;
        height: 100%;
        width: 100%;

        .infosect {
          display: block;
          height: auto;
          padding: 10% 0;

          .title {
            font-size: 50px;
          }

          .info {
            font-size: 20px;
            padding-bottom: 10px;
            line-height: 1.4;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .categories {
    .cards {
      .bg-img {
        .cardinfo {
          .infosect {
            .title {
              font-size: 42px;
            }

            .info,
            a {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .categories {
    .cards {
      .bg-img {
        .cardinfo {
          .infosect {
            .title {
              font-size: 36px;
            }

            .info,
            a {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .categories {
    .cards {
      .card {
        width: 100%;

        .bg-img {
          .cardinfo {
            .infosect {
              .title {
                font-size: 42px;
              }

              .info,
              a {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .categories {
    .cards {
      .card {
        width: 100%;

        .bg-img {
          .cardinfo {
            .infosect {
              .title {
                font-size: 27px;
              }

              .info,
              a {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}
