section.guarantee {
  width: 100%;
  height: auto;
  padding: 20px 0;
  background-color: #fff; }
  section.guarantee .cards {
    padding: 10px 0;
    width: auto;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; }
    section.guarantee .cards .card {
      width: 25%;
      height: auto;
      text-align: center; }
      section.guarantee .cards .card .pic {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0; }
        section.guarantee .cards .card .pic svg {
          height: 90px;
          width: auto;
          fill: #facf9e; }
      section.guarantee .cards .card .info {
        display: block;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        padding: 10px 20px; }
        section.guarantee .cards .card .info p {
          padding: 10px 0;
          margin: 0 auto; }
        section.guarantee .cards .card .info .title {
          font-weight: bolder;
          width: 100%;
          font-size: 20px; }
        section.guarantee .cards .card .info .para {
          width: 100%;
          font-size: 18px; }

@media only screen and (max-width: 1200px) {
  section.guarantee .cards .card {
    width: 50%; } }

@media only screen and (max-width: 750px) {
  section.guarantee .cards .card .pic svg {
    height: 70px;
    fill: #83e0bc; } }

@media only screen and (max-width: 450px) {
  section.guarantee .cards .card .info {
    padding: 10px; }
    section.guarantee .cards .card .info .title {
      font-size: 18px; }
    section.guarantee .cards .card .info .para {
      font-size: 16px; } }

header .icons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 5px 20px;
  height: 30px;
  background-color: #faa19e; }
  header .icons svg {
    height: 20px;
    width: 20px;
    margin: 0 10px;
    fill: #fff; }
  header .icons svg:hover {
    fill: #a69efa; }

header .header-banner {
  background-color: #83e0bc;
  height: auto;
  padding: 250px 0;
  padding: 120px 0;
  background-color: #fff; }
  header .header-banner .banner-text .brand-name {
    font-size: 120px;
    font-weight: 700;
    font-family: "Comfortaa", cursive;
    background: #a69efa;
    background: -webkit-repeating-linear-gradient(to right, #a69efa 0%, #faa19e 20%, #facf9e 50%, #9efaad 100%);
    background: -moz-repeating-linear-gradient(to right, #a69efa 0%, #faa19e 20%, #facf9e 50%, #9efaad 100%);
    background: repeating-linear-gradient(to right, #a69efa 0%, #faa19e 20%, #facf9e 50%, #9efaad 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 0; }

.main-nav {
  width: 100%;
  height: auto;
  padding: 5px 0;
  background-color: #9efaad; }
  .main-nav .header-info {
    justify-content: center;
    align-items: center; }
    .main-nav .header-info .logo {
      width: 70px;
      height: 70px;
      padding: 5px; }
      .main-nav .header-info .logo .circle {
        height: 100%;
        width: 100%;
        background: #facf9e;
        border-radius: 50%; }
        .main-nav .header-info .logo .circle a {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .main-nav .header-info .logo .circle a p {
            font-size: 24px;
            font-weight: bolder;
            color: #965320; }
    .main-nav .header-info .nav-desktop nav {
      display: block; }
      .main-nav .header-info .nav-desktop nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap; }
        .main-nav .header-info .nav-desktop nav ul li {
          padding: 5px 0; }
          .main-nav .header-info .nav-desktop nav ul li a {
            text-decoration: none;
            width: 100%;
            height: 100%;
            padding: 5px;
            margin: 0 5px;
            transition: 0.5s ease-in-out;
            font-size: 18px; }
            .main-nav .header-info .nav-desktop nav ul li a span:hover {
              color: #a69efa;
              text-decoration: underline; }
            .main-nav .header-info .nav-desktop nav ul li a svg {
              width: 30px;
              height: auto;
              fill: #faa19e;
              transition: 0.2s ease-in-out; }
            .main-nav .header-info .nav-desktop nav ul li a svg:hover {
              fill: #a69efa; }
          .main-nav .header-info .nav-desktop nav ul li .search {
            display: none;
            padding: 10px;
            margin: 0 5px;
            font-size: 18px; }
            .main-nav .header-info .nav-desktop nav ul li .search label span {
              font-size: 18px; }
            .main-nav .header-info .nav-desktop nav ul li .search #search {
              background-color: #f8f5f5;
              border-radius: 8px;
              margin: 0 20px;
              border: 1px solid #965320;
              outline: none;
              padding: 3px 0 3px 5px; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }

.sticky + .guarantee {
  padding-top: 100px; }

#nav {
  overflow: hidden; }

@media only screen and (max-width: 840px) {
  header .header-banner {
    padding: 200px 0; }
    header .header-banner .banner-text .brand-name {
      font-size: 100px; }
  .main-nav .header-info {
    flex-wrap: nowrap; }
    .main-nav .header-info .nav-desktop {
      padding: 5px; }
      .main-nav .header-info .nav-desktop nav ul {
        flex-wrap: wrap;
        justify-content: center; }
  .sticky + .guarantee {
    padding-top: 100px; } }

@media only screen and (max-width: 670px) {
  header .header-banner {
    padding: 150px 0; }
    header .header-banner .banner-text .brand-name {
      font-size: 80px; } }

@media only screen and (max-width: 520px) {
  header .header-banner .banner-text .brand-name {
    font-size: 60px; }
  .main-nav .header-info {
    flex-wrap: wrap; } }

@media only screen and (max-width: 480px) {
  .main-nav .header-info {
    flex-wrap: wrap; }
    .main-nav .header-info .nav-desktop nav ul li a {
      font-size: 16px; }
  .sticky + .guarantee {
    padding-top: 180px; } }

@media only screen and (min-height: 401px) {
  .menu-button {
    display: none; }
  .menu,
  #menu {
    display: none; } }

@media only screen and (min-device-height: 320px) and (max-device-width: 820px) {
  .menu-button {
    display: none; }
  .menu,
  #menu {
    display: none; } }

@media only screen and (max-width: 400px) {
  .main-nav .header-info {
    flex-wrap: wrap;
    justify-content: space-between; }
    .main-nav .header-info .nav-desktop {
      display: none; }
    .main-nav .header-info .menu-button {
      display: block;
      border: none;
      padding: 5px;
      height: 60px;
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .main-nav .header-info .menu-button svg {
        height: 30px;
        width: 30px; }
    .main-nav .header-info .menu,
    .main-nav .header-info #menu {
      position: relative;
      top: 0;
      left: 0;
      display: none;
      flex-wrap: wrap;
      width: 100%;
      background-color: #965320;
      z-index: 10;
      margin: 0 auto;
      justify-content: center; }
      .main-nav .header-info .menu.open,
      .main-nav .header-info #menu.open {
        display: flex; }
      .main-nav .header-info .menu .nav-mobile,
      .main-nav .header-info #menu .nav-mobile {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 18px;
        padding: 10px 0; }
        .main-nav .header-info .menu .nav-mobile ul,
        .main-nav .header-info #menu .nav-mobile ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center; }
          .main-nav .header-info .menu .nav-mobile ul li,
          .main-nav .header-info #menu .nav-mobile ul li {
            padding: 10px 0; }
            .main-nav .header-info .menu .nav-mobile ul li a,
            .main-nav .header-info #menu .nav-mobile ul li a {
              width: 100%;
              height: 100%;
              padding: 5px;
              margin: 0 5px; }
              .main-nav .header-info .menu .nav-mobile ul li a svg,
              .main-nav .header-info #menu .nav-mobile ul li a svg {
                width: 30px;
                height: auto;
                fill: #fbf1c0; }
  .main-nav .sticky + .guarantee {
    padding-top: 100px; } }

@media only screen and (max-width: 380px) {
  header .header-banner .banner-text .brand-name {
    font-size: 50px; }
  .sticky + .guarantee {
    padding-top: 100px; } }

section.guarantee {
  width: 100%;
  height: auto;
  padding: 20px 0;
  background-color: #fff; }
  section.guarantee .cards {
    padding: 10px 0;
    width: auto;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; }
    section.guarantee .cards .card {
      width: 25%;
      height: auto;
      text-align: center; }
      section.guarantee .cards .card .pic {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0; }
        section.guarantee .cards .card .pic svg {
          height: 90px;
          width: auto;
          fill: #facf9e; }
      section.guarantee .cards .card .info {
        display: block;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        padding: 10px 20px; }
        section.guarantee .cards .card .info p {
          padding: 10px 0;
          margin: 0 auto; }
        section.guarantee .cards .card .info .title {
          font-weight: bolder;
          width: 100%;
          font-size: 20px; }
        section.guarantee .cards .card .info .para {
          width: 100%;
          font-size: 18px; }

@media only screen and (max-width: 1200px) {
  section.guarantee .cards .card {
    width: 50%; } }

@media only screen and (max-width: 750px) {
  section.guarantee .cards .card .pic svg {
    height: 70px;
    fill: #83e0bc; } }

@media only screen and (max-width: 450px) {
  section.guarantee .cards .card .info {
    padding: 10px; }
    section.guarantee .cards .card .info .title {
      font-size: 18px; }
    section.guarantee .cards .card .info .para {
      font-size: 16px; } }

.categories {
  width: 100%;
  height: auto; }
  .categories .cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap; }
  .categories .succulent {
    background-color: #9efaad; }
  .categories .airplant {
    background-color: #faa19e; }
  .categories .diy {
    background-color: #a69efa; }
  .categories .pots {
    background-color: #facf9e; }
  .categories .card {
    width: 50%;
    max-height: 400px;
    color: #965320; }
    .categories .card .one {
      background-image: url(../img/succulents.png); }
    .categories .card .two {
      background-image: url(../img/air-plant.png); }
    .categories .card .three {
      background-image: url(../img/diy.png); }
    .categories .card .four {
      background-image: url(../img/rosegold-pots-transparent.png); }
    .categories .card .bg-img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: contain;
      display: flex;
      align-items: center; }
      .categories .card .bg-img .cardinfo {
        text-align: left;
        padding: 0 9%;
        height: 100%;
        width: 100%; }
        .categories .card .bg-img .cardinfo .infosect {
          display: block;
          height: auto;
          padding: 10% 0; }
          .categories .card .bg-img .cardinfo .infosect .title {
            font-size: 50px; }
          .categories .card .bg-img .cardinfo .infosect .info {
            font-size: 20px;
            padding-bottom: 10px;
            line-height: 1.4; }
          .categories .card .bg-img .cardinfo .infosect a {
            text-decoration: none;
            font-size: 20px;
            font-weight: bolder;
            padding: 10px 10px;
            margin: 10px 0;
            border-radius: 5px;
            color: #965320; }
          .categories .card .bg-img .cardinfo .infosect .btn-airplant,
          .categories .card .bg-img .cardinfo .infosect .btn-diy,
          .categories .card .bg-img .cardinfo .infosect .btn-pots,
          .categories .card .bg-img .cardinfo .infosect .btn-succulent {
            border: 3px solid #965320; }
          .categories .card .bg-img .cardinfo .infosect a:hover {
            background-color: rgba(255, 255, 255, 0.5); }

@media only screen and (max-width: 1150px) {
  .categories .cards .bg-img .cardinfo .infosect .title {
    font-size: 42px; }
  .categories .cards .bg-img .cardinfo .infosect .info,
  .categories .cards .bg-img .cardinfo .infosect a {
    font-size: 18px; } }

@media only screen and (max-width: 950px) {
  .categories .cards .bg-img .cardinfo .infosect .title {
    font-size: 36px; }
  .categories .cards .bg-img .cardinfo .infosect .info,
  .categories .cards .bg-img .cardinfo .infosect a {
    font-size: 16px; } }

@media only screen and (max-width: 750px) {
  .categories .cards .card {
    width: 100%; }
    .categories .cards .card .bg-img .cardinfo .infosect .title {
      font-size: 42px; }
    .categories .cards .card .bg-img .cardinfo .infosect .info,
    .categories .cards .card .bg-img .cardinfo .infosect a {
      font-size: 18px; } }

@media only screen and (max-width: 480px) {
  .categories .cards .card {
    width: 100%; }
    .categories .cards .card .bg-img .cardinfo .infosect .title {
      font-size: 27px; }
    .categories .cards .card .bg-img .cardinfo .infosect .info,
    .categories .cards .card .bg-img .cardinfo .infosect a {
      font-size: 16px; } }

footer {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-top: 1px solid #faa19e; }
  footer .wrapper {
    max-width: 1200px; }
  footer nav {
    padding: 20px 0; }
    footer nav ul {
      display: flex;
      flex-wrap: wrap;
      width: 33%;
      margin: 10px;
      text-align: center; }
      footer nav ul li {
        padding: 10px;
        width: 100%; }
        footer nav ul li a {
          padding: 5px; }
          footer nav ul li a .title {
            font-size: 20px;
            font-weight: bolder; }
          footer nav ul li a .para {
            font-size: 18px; }
        footer nav ul li span:hover {
          color: #a69efa;
          text-decoration: underline; }
  footer .copyright {
    width: 100%;
    background-color: #83e0bc;
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: #faa19e; }
    footer .copyright p {
      padding: 5px 10px;
      font-size: 16px; }
      footer .copyright p .brand-name {
        font-weight: 700;
        font-family: "Comfortaa", cursive;
        background: #a69efa;
        background: -webkit-repeating-linear-gradient(to right, #a69efa 0%, #faa19e 20%, #facf9e 50%, #9efaad 100%);
        background: -moz-repeating-linear-gradient(to right, #a69efa 0%, #faa19e 20%, #facf9e 50%, #9efaad 100%);
        background: repeating-linear-gradient(to right, #a69efa 0%, #faa19e 20%, #facf9e 50%, #9efaad 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 18px; }

@media only screen and (max-width: 750px) {
  footer nav {
    flex-wrap: wrap; }
    footer nav ul {
      width: 40%; } }

@media only screen and (max-width: 580px) {
  footer nav {
    flex-wrap: wrap; }
    footer nav ul {
      width: 90%; } }

section.guarantee {
  width: 100%;
  height: auto;
  padding: 20px 0;
  background-color: #fff; }
  section.guarantee .cards {
    padding: 10px 0;
    width: auto;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; }
    section.guarantee .cards .card {
      width: 25%;
      height: auto;
      text-align: center; }
      section.guarantee .cards .card .pic {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0; }
        section.guarantee .cards .card .pic svg {
          height: 90px;
          width: auto;
          fill: #facf9e; }
      section.guarantee .cards .card .info {
        display: block;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        padding: 10px 20px; }
        section.guarantee .cards .card .info p {
          padding: 10px 0;
          margin: 0 auto; }
        section.guarantee .cards .card .info .title {
          font-weight: bolder;
          width: 100%;
          font-size: 20px; }
        section.guarantee .cards .card .info .para {
          width: 100%;
          font-size: 18px; }

@media only screen and (max-width: 1200px) {
  section.guarantee .cards .card {
    width: 50%; } }

@media only screen and (max-width: 750px) {
  section.guarantee .cards .card .pic svg {
    height: 70px;
    fill: #83e0bc; } }

@media only screen and (max-width: 450px) {
  section.guarantee .cards .card .info {
    padding: 10px; }
    section.guarantee .cards .card .info .title {
      font-size: 18px; }
    section.guarantee .cards .card .info .para {
      font-size: 16px; } }

.procduct-body {
  background-color: #fff; }

header.products .header-banner {
  height: auto;
  padding: 0;
  background-color: #fff; }
  header.products .header-banner .background {
    height: 300px;
    width: 100%;
    display: flex; }
    header.products .header-banner .background img {
      overflow: hidden;
      object-fit: cover; }

.main-nav .header-info .nav-desktop nav ul li a span:hover,
.main-nav .header-info .nav-desktop nav ul li a span.active {
  color: #a69efa;
  text-decoration: underline; }

.main-nav .header-info .nav-desktop nav ul li .search {
  display: flex;
  align-items: center; }

.card-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: center;
  margin: 0% auto;
  background-color: #fff; }
  .card-container a.card {
    background-color: #f8f5f5;
    border-radius: 20px;
    width: 220px;
    height: auto;
    padding: 5px;
    margin: 10px 10px;
    border: 1px solid black;
    color: black; }
    .card-container a.card .img-container {
      height: 220px; }
      .card-container a.card .img-container img {
        height: 100%;
        width: 100%;
        object-fit: fill;
        border-radius: 20px; }
    .card-container a.card .info {
      margin: 5px 0;
      padding: 8px 8px; }
      .card-container a.card .info p {
        font-size: 16px;
        padding-bottom: 8px; }
      .card-container a.card .info .title {
        font-weight: bolder;
        font-size: 18px;
        padding-bottom: 4px; }
      .card-container a.card .info .sci {
        font-size: 14px; }
      .card-container a.card .info .price {
        padding: 10px 0; }
      .card-container a.card .info .categories .badge {
        display: inline-flex;
        padding: 5px;
        border-radius: 5px;
        color: #965320;
        background: moccasin;
        border: 1px solid #965320;
        color: #965320; }
        .card-container a.card .info .categories .badge.category-airplant {
          background-color: #a69efa;
          color: #fff;
          border: 1px solid #fff; }
        .card-container a.card .info .categories .badge.category-succulent {
          background-color: #facf9e;
          border: 1px solid #965320; }
        .card-container a.card .info .categories .badge.category-houseplant {
          background-color: #d8ba88;
          background-color: #9efaad;
          border: 1px solid #fff; }
        .card-container a.card .info .categories .badge.category-pots, .card-container a.card .info .categories .badge.category-terrarium {
          background-color: #b98a58;
          background-color: #faa19e;
          color: #fff;
          border: 1px solid #fff; }

@media only screen and (max-width: 840px) {
  header.products .header-banner .banner-text .brand-name {
    font-size: 100px; } }

@media only screen and (max-width: 840px) {
  header.products .header-banner .banner-text .brand-name {
    font-size: 120px; } }

@media only screen and (max-width: 700px) {
  header.products .header-banner {
    background-color: #83e0bc; }
    header.products .header-banner .background {
      height: 200px; } }

@media only screen and (max-width: 520px) {
  header.products .header-banner .banner-text .brand-name {
    font-size: 80px; } }

@media only screen and (max-width: 480px) {
  .product-nav .main-nav .header-info {
    flex-wrap: wrap; }
  .product-nav .sticky + .guarantee {
    padding-top: 180px; } }

@media only screen and (min-height: 401px) {
  .menu-button {
    display: none; }
  .menu,
  #menu {
    display: none; } }

@media only screen and (max-width: 400px) {
  .product-nav .main-nav .header-info {
    flex-wrap: wrap;
    justify-content: center; }
    .product-nav .main-nav .header-info .nav-desktop {
      display: block; } }

@media only screen and (max-width: 380px) {
  header.products .header-banner .banner-text .brand-name {
    font-size: 50px; } }

.main-nav .header-info .nav-desktop nav ul li .search {
  display: flex; }

.details-section {
  background-color: #f8f5f5;
  width: 100%;
  height: auto; }
  .details-section .page-content {
    display: flex;
    padding: 40px 5% 20px 5%; }
    .details-section .page-content .images {
      width: 40%;
      height: 100%;
      max-width: 470px; }
      .details-section .page-content .images .lg-img {
        display: none;
        width: 350px;
        height: 350px;
        height: 70%;
        margin: 0 auto; }
        .details-section .page-content .images .lg-img img {
          width: 350px;
          height: auto;
          object-fit: fill;
          object-fit: cover;
          border-radius: 20px;
          display: block;
          height: 350px;
          margin: 0 auto; }
      .details-section .page-content .images .row {
        margin-top: 10px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 80px; }
        .details-section .page-content .images .row .arrow .prev,
        .details-section .page-content .images .row .arrow .next {
          cursor: pointer;
          width: auto;
          padding: 10px;
          font-weight: bolder;
          font-size: 24px;
          border-radius: 0 3px 3px 0;
          user-select: none;
          -webkit-user-select: none;
          color: #9efaad; }
        .details-section .page-content .images .row .arrow .prev:hover,
        .details-section .page-content .images .row .arrow .next:hover {
          color: #a69efa; }
        .details-section .page-content .images .row .column {
          width: 16.66%;
          display: flex;
          align-items: center;
          margin: 0 2px; }
          .details-section .page-content .images .row .column img {
            width: 100%;
            height: 67px; }
          .details-section .page-content .images .row .column .cursor {
            cursor: pointer; }
          .details-section .page-content .images .row .column .demo {
            opacity: 0.6; }
          .details-section .page-content .images .row .column .active,
          .details-section .page-content .images .row .column .demo:hover {
            opacity: 1; }
      .details-section .page-content .images .row:after {
        content: "";
        display: table; }
    .details-section .page-content .product-info {
      width: 60%;
      padding: 10px 5%;
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      .details-section .page-content .product-info .title {
        width: 100%; }
        .details-section .page-content .product-info .title .name {
          font-size: 35px;
          width: 100%;
          padding-bottom: 10px;
          font-weight: bolder; }
        .details-section .page-content .product-info .title .scientific-name {
          font-size: 16px;
          padding-bottom: 10px; }
      .details-section .page-content .product-info .price {
        font-size: 18px;
        width: 100%;
        padding: 5px 0; }
      .details-section .page-content .product-info .size-container {
        width: 100%;
        font-size: 18px;
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        align-items: center; }
        .details-section .page-content .product-info .size-container .size-title {
          padding: 5px 0;
          width: 100%; }
        .details-section .page-content .product-info .size-container .sizes {
          display: flex;
          padding: 5px 0;
          margin-top: -15px; }
          .details-section .page-content .product-info .size-container .sizes input.visually-hidden {
            background-color: #fff;
            color: #000;
            position: absolute !important;
            height: 1px;
            width: 1px;
            overflow: hidden;
            clip: rect(1px 1px 1px 1px);
            clip: rect(1px, 1px, 1px, 1px); }
          .details-section .page-content .product-info .size-container .sizes label {
            padding: 15px 30px;
            margin-right: 10px;
            border-radius: 20px;
            outline: none;
            border: 1px solid #965320;
            background-color: #facf9e; }
          .details-section .page-content .product-info .size-container .sizes input:checked + label {
            background-color: #9efaad; }
      .details-section .page-content .product-info .quantity {
        height: 70px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 18px;
        width: 100%;
        margin: 5px 0; }
        .details-section .page-content .product-info .quantity span {
          cursor: pointer; }
        .details-section .page-content .product-info .quantity .title {
          padding: 5px 0;
          width: 100%; }
        .details-section .page-content .product-info .quantity .number {
          margin: 5px 0; }
          .details-section .page-content .product-info .quantity .number .minus,
          .details-section .page-content .product-info .quantity .number .plus {
            width: 35px;
            height: 35px;
            background-color: #f8f5f5;
            border-radius: 4px;
            padding: 8px 5px 8px 5px;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            border: 1px solid #965320;
            outline: none; }
          .details-section .page-content .product-info .quantity .number input {
            height: 35px;
            width: 70px;
            text-align: center;
            border: 1px solid #965320;
            border-radius: 4px;
            display: inline-block;
            vertical-align: middle; }
      .details-section .page-content .product-info .add-to-cart {
        display: flex;
        height: 60px;
        font-size: 24px;
        width: 100%; }
        .details-section .page-content .product-info .add-to-cart a {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px 30px;
          border-radius: 20px;
          border: 1px solid #965320;
          background-color: #faa19e;
          color: #fbf1c0; }
          .details-section .page-content .product-info .add-to-cart a svg {
            width: 30px;
            height: auto;
            transition: 0.2s ease-in-out;
            margin: 5px 10px;
            fill: #9efaad; }
        .details-section .page-content .product-info .add-to-cart a:hover {
          background-color: #9efaad; }
          .details-section .page-content .product-info .add-to-cart a:hover svg {
            fill: #faa19e; }
          .details-section .page-content .product-info .add-to-cart a:hover span {
            color: #965320; }

section.details-care {
  background-color: #f8f5f5;
  width: 100%;
  height: auto;
  padding: 30px 5% 40px 5%;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 1.2; }
  section.details-care .desc-info,
  section.details-care .care-sect {
    width: 100%;
    border-top: 2px solid #83e0bc;
    padding: 20px 0; }
    section.details-care .desc-info h2,
    section.details-care .care-sect h2 {
      font-size: 24px;
      padding: 5px 0;
      color: #965320;
      font-weight: bolder; }
    section.details-care .desc-info h3 p,
    section.details-care .care-sect h3 p {
      padding: 5px 0;
      font-weight: 400; }
  section.details-care .care-sect {
    margin-top: 20px; }
    section.details-care .care-sect ul.care-description {
      display: flex;
      flex-wrap: wrap; }
      section.details-care .care-sect ul.care-description li {
        margin: 5px;
        margin-left: 0;
        padding: 5px;
        width: 45%;
        border-radius: 5px;
        display: flex; }
        section.details-care .care-sect ul.care-description li:nth-child(3n + 1) svg {
          fill: #9efaad; }
        section.details-care .care-sect ul.care-description li:nth-child(3n + 2) svg {
          fill: #a69efa; }
        section.details-care .care-sect ul.care-description li:nth-child(3n) svg {
          fill: #faa19e; }
        section.details-care .care-sect ul.care-description li .svg svg {
          margin-right: 5px;
          width: 20px; }

@media only screen and (max-width: 1000px) {
  .details-section .page-content .images {
    width: 40%;
    height: 100%; }
    .details-section .page-content .images .lg-img {
      display: none;
      width: 295px;
      height: 295px;
      margin: 0 auto; }
      .details-section .page-content .images .lg-img img {
        width: 295px;
        height: 295px;
        object-fit: fill;
        border-radius: 20px;
        display: block;
        margin: 0 auto; } }

@media only screen and (max-width: 840px) {
  .details-section .page-content .images {
    margin: 0 auto;
    width: 40%; }
    .details-section .page-content .images .row {
      margin-bottom: 20px; }
  .details-section .page-content .product-info .price {
    padding: 0px 0 5px 0; }
  .details-section .page-content .product-info .size-container {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .details-section .page-content .product-info .size-container .size-title {
      padding-top: 10px;
      width: 100%; }
    .details-section .page-content .product-info .size-container .sizes {
      margin-top: -15px; }
      .details-section .page-content .product-info .size-container .sizes label {
        background-color: #d8ba88;
        padding: 10px 25px;
        margin-right: 10px;
        border-radius: 20px;
        font-size: 16px;
        outline: none;
        border: 1px solid #965320; }
      .details-section .page-content .product-info .size-container .sizes input:checked + label {
        background-color: #e1ae00; }
  .details-section .page-content .product-info .quantity {
    font-size: 16px; }
  .details-section .page-content .product-info .add-to-cart {
    height: 50px;
    font-size: 20px; }
    .details-section .page-content .product-info .add-to-cart a {
      padding: 5px 25px; } }

@media only screen and (max-width: 760px) {
  .details-section .page-content {
    padding: 20px 5% 20px 5%;
    display: block; }
    .details-section .page-content .images {
      width: 100%;
      height: auto; }
      .details-section .page-content .images .lg-img {
        width: 400px;
        height: 400px; }
        .details-section .page-content .images .lg-img img {
          width: 100%;
          object-fit: fill;
          height: 100%;
          border-radius: 20px; }
      .details-section .page-content .images .img-slider {
        max-height: 50px;
        width: 400px;
        margin: 0 auto;
        margin-top: 10px; }
    .details-section .page-content .product-info {
      width: 100%;
      padding: 0;
      border-top: 2px solid #83e0bc;
      padding-top: 20px;
      margin-top: 20px; }
  .details-care {
    padding-top: 10px;
    padding-bottom: 20px; } }

@media only screen and (max-width: 680px) {
  .details-care .care-sect ul.care-description li {
    width: 90%; } }

@media only screen and (max-width: 460px) {
  .details-section .page-content {
    padding: 20px 5%; }
    .details-section .page-content .images .lg-img {
      width: 320px;
      height: 320px; }
    .details-section .page-content .images .img-slider {
      width: 100%; } }

@media only screen and (max-width: 400px) {
  .details-nav .main-nav .header-info {
    flex-wrap: wrap;
    justify-content: center; }
    .details-nav .main-nav .header-info .nav-desktop {
      display: block; } }

@media only screen and (max-width: 380px) {
  .details-section .page-content {
    padding: 20px 10px; }
    .details-section .page-content .images .lg-img {
      width: 300px;
      height: 300px; }
    .details-section .page-content .product-info .size-container .sizes label {
      padding: 10px 15px; } }

.checkout-nav .main-nav .header-info {
  justify-content: space-evenly; }

.checkout-card {
  background-color: #f8f5f5;
  width: 100%;
  height: auto;
  padding: 40px 5% 0 5%; }
  .checkout-card .card {
    max-width: 1300px;
    border-top: 2px solid #faa19e;
    height: auto;
    padding: 20px 0;
    line-height: 1.2; }
    .checkout-card .card .content {
      padding: 15px 0;
      display: flex;
      flex-wrap: nowrap;
      border-bottom: 1px solid #faa19e; }
      .checkout-card .card .content .image {
        height: 100px;
        width: 100px; }
        .checkout-card .card .content .image img {
          object-fit: contain;
          border-radius: 20px;
          height: 100%; }
      .checkout-card .card .content .information {
        margin-left: 50px;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1; }
        .checkout-card .card .content .information .title {
          width: 100%; }
        .checkout-card .card .content .information .quantity {
          width: 50%;
          display: flex;
          align-items: center;
          padding-top: 10px; }
          .checkout-card .card .content .information .quantity p {
            padding-right: 15px; }
          .checkout-card .card .content .information .quantity span {
            cursor: pointer; }
          .checkout-card .card .content .information .quantity .number {
            margin: 5px 0; }
            .checkout-card .card .content .information .quantity .number .minus,
            .checkout-card .card .content .information .quantity .number .plus {
              width: 35px;
              height: 35px;
              background-color: #f8f5f5;
              border-radius: 4px;
              padding: 8px 5px 8px 5px;
              display: inline-block;
              vertical-align: middle;
              text-align: center;
              border: 1px solid #965320;
              outline: none; }
            .checkout-card .card .content .information .quantity .number input {
              height: 35px;
              width: 70px;
              text-align: center;
              border: 1px solid #965320;
              border-radius: 4px;
              display: inline-block;
              vertical-align: middle; }
        .checkout-card .card .content .information .subtotal {
          width: 50%;
          display: flex;
          align-items: center;
          padding-top: 10px; }
          .checkout-card .card .content .information .subtotal p {
            padding-right: 10px; }
    .checkout-card .card .continue {
      height: auto;
      border-top: 2px solid #faa19e;
      padding-top: 20px;
      min-height: 300px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly; }
      .checkout-card .card .continue .cart-subtotal {
        margin-left: 150px;
        display: flex;
        font-weight: bolder;
        width: 100%; }
        .checkout-card .card .continue .cart-subtotal h3 {
          width: 50%; }
      .checkout-card .card .continue .policy {
        margin: 20px 0;
        width: 100%; }
        .checkout-card .card .continue .policy p {
          font-size: 16px;
          text-align: center; }
      .checkout-card .card .continue .checkout-btn {
        font-size: 18px; }
        .checkout-card .card .continue .checkout-btn ul {
          margin: 0 auto;
          height: auto;
          font-weight: bolder; }
          .checkout-card .card .continue .checkout-btn ul li {
            display: flex;
            justify-content: center;
            align-items: center; }
            .checkout-card .card .continue .checkout-btn ul li a {
              background-color: #83e0bc;
              padding: 15px 50px;
              border-radius: 20px;
              width: auto;
              height: auto;
              display: flex;
              background-color: #facf9e;
              border: 1px solid #965320; }
              .checkout-card .card .continue .checkout-btn ul li a svg {
                width: 30px; }
              .checkout-card .card .continue .checkout-btn ul li a p {
                font-size: 26px;
                margin-left: 15px; }
  .checkout-card h2,
  .checkout-card h3 {
    font-size: 24px;
    padding: 5px 0;
    color: #965320;
    font-weight: bolder; }
  .checkout-card h3 {
    font-size: 20px; }
  .checkout-card h4 {
    font-size: 24px;
    padding: 5px 0;
    color: #111;
    font-weight: bold; }
  .checkout-card h5 {
    padding: 5px 0;
    font-size: 16px;
    color: #111;
    font-weight: 400; }
  .checkout-card p {
    padding: 5px 0;
    font-size: 18px; }

@media only screen and (max-width: 890px) {
  .checkout-card .card .content .information .title {
    width: 100%; }
  .checkout-card .card .content .information .quantity {
    max-width: 50%;
    min-width: 300px; }
  .checkout-card .card .content .information .subtotal {
    max-width: 50%;
    min-width: 300px; } }

@media only screen and (max-width: 500px) {
  .checkout-card .card .continue {
    background: rgba(135, 206, 250, 0.253);
    height: 400px;
    border-top: 2px solid #83e0bc;
    padding: 20px 0; }
    .checkout-card .card .continue .cart-subtotal {
      margin-left: 0;
      display: flex;
      border-bottom: 1px solid #b98a58; }
      .checkout-card .card .continue .cart-subtotal h3 {
        width: auto;
        margin-right: 10px; } }

@media only screen and (max-width: 480px) {
  .checkout-card {
    background-color: #f8f5f5; }
    .checkout-card .card {
      max-width: 1300px;
      border-top: 2px solid #83e0bc;
      height: auto;
      padding: 20px 0;
      line-height: 1.2; }
      .checkout-card .card .content {
        flex-wrap: wrap;
        padding-top: 20px; }
        .checkout-card .card .content .information {
          margin-top: 10px;
          margin-left: 0; }
          .checkout-card .card .content .information .quantity {
            max-width: 100%;
            background: pink;
            min-width: 100%; }
          .checkout-card .card .content .information .subtotal {
            max-width: 100%;
            background: yellow;
            min-width: 100%; } }

.green {
  color: #83e0bc; }

.darkbrown {
  color: #965320; }

.medbrown {
  color: #b98a58; }

.lightbrown {
  color: #d8ba88; }

.beige {
  color: #fbf1c0; }

.fill-green {
  fill: #83e0bc; }

.fill-darkbrown {
  fill: #965320; }

.fill-medbrown {
  fill: #b98a58; }

.fill-lightbrown {
  fill: #d8ba88; }

.fill-beige {
  fill: #fbf1c0; }

html {
  scroll-behavior: smooth; }

* {
  font-family: "Comfortaa", cursive;
  text-decoration: none;
  list-style: none;
  text-transform: lowercase; }

body {
  height: 100%;
  width: 100%; }

.wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: center; }
