.categories {
  width: 100%;
  height: auto;

  .cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .succulent {
    background-color: #9efaad;
  }

  .airplant {
    background-color: #faa19e;
  }

  .diy {
    background-color: #a69efa;
  }

  .pots {
    background-color: #facf9e;
  }

  .card {
    width: 50%;
    max-height: 400px;
    color: #965320;

    .one {
      background-image: url(../img/succulents.png);
    }

    .two {
      background-image: url(../img/air-plant.png);
    }

    .three {
      background-image: url(../img/diy.png);
    }

    .four {
      background-image: url(../img/rosegold-pots-transparent.png);
    }

    .bg-img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: contain;
      display: flex;
      align-items: center;

      .cardinfo {
        text-align: left;
        padding: 0 9%;
        height: 100%;
        width: 100%;

        .infosect {
          display: block;
          height: auto;
          padding: 10% 0;

          .title {
            font-size: 50px;
          }

          .info {
            font-size: 20px;
            padding-bottom: 10px;
            line-height: 1.4;
          }

          a {
            text-decoration: none;
            font-size: 20px;
            font-weight: bolder;
            padding: 10px 10px;
            margin: 10px 0;
            border-radius: 5px;
            color: #965320;
          }

          .btn-airplant,
          .btn-diy,
          .btn-pots,
          .btn-succulent {
            border: 3px solid #965320;
          }

          a:hover {
            background-color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .categories {
    .cards {
      .bg-img {
        .cardinfo {
          .infosect {
            .title {
              font-size: 42px;
            }

            .info,
            a {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  .categories {
    .cards {
      .bg-img {
        .cardinfo {
          .infosect {
            .title {
              font-size: 36px;
            }

            .info,
            a {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .categories {
    .cards {
      .card {
        width: 100%;

        .bg-img {
          .cardinfo {
            .infosect {
              .title {
                font-size: 42px;
              }

              .info,
              a {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .categories {
    .cards {
      .card {
        width: 100%;

        .bg-img {
          .cardinfo {
            .infosect {
              .title {
                font-size: 27px;
              }

              .info,
              a {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}
