//BRAND COLOURS

// blue #89F8D3
// dark green #77D99D
// middle green #90F099
// yellowy dark green #8DD977
// yellow green #C9F889

@mixin offwhite {
  background-color: rgb(248, 245, 245);
}

@mixin brand-font {
  font-family: "Comfortaa", cursive;
}

@mixin brand-name {
  font-weight: 700;
  font-family: "Comfortaa", cursive;
  background: #77d99d;
  background: -webkit-repeating-linear-gradient(to right, #77d99d 0%, #90f099 50%, #8dd977 100%);
  background: -moz-repeating-linear-gradient(to right, #77d99d 0%, #90f099 50%, #8dd977 100%);
  background: repeating-linear-gradient(to right, #77d99d 0%, #90f099 50%, #8dd977 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin v-hidden {
  background-color: #fff;
  color: #000;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
