//MIXINS
@import "mixins";
@import "guarantee";

.procduct-body {
  background-color: #fff;
}

header.products {
  .header-banner {
    height: auto;
    padding: 0;
    background-color: #fff;

    .background {
      height: 300px;
      width: 100%;
      display: flex;

      img {
        overflow: hidden;
        object-fit: cover;
      }
    }
  }
}

//NAV BAR//
.main-nav {
  .header-info {
    .nav-desktop {
      nav {
        ul {
          li {
            a {
              span:hover,
              span.active {
                color: #a69efa;
                text-decoration: underline;
              }

              svg:hover {
                // fill: #e1ae00;
              }
            }
            .search {
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

//DID NOT CHANGE ANYTHING BELOW - NEED TO COME BACK TO
// .sticky {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   z-index: 2;
// }

// .sticky + .guarantee {
//   padding-top: 100px;
// }

// #nav {
//   overflow: hidden;
// }

//Product Body

.card-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: center;
  margin: 0% auto;
  background-color: #fff;

  a.card {
    @include offwhite;
    border-radius: 20px;
    width: 220px;
    height: auto;
    padding: 5px;
    margin: 10px 10px;
    border: 1px solid black;
    color: black;

    .img-container {
      height: 220px;

      img {
        height: 100%;
        width: 100%;
        object-fit: fill;
        border-radius: 20px;
      }
    }

    .info {
      margin: 5px 0;
      padding: 8px 8px;

      p {
        font-size: 16px;
        padding-bottom: 8px;
      }
      .title {
        font-weight: bolder;
        font-size: 18px;
        padding-bottom: 4px;
      }

      .sci {
        font-size: 14px;
      }

      .price {
        padding: 10px 0;
      }

      .categories {
        .badge {
          display: inline-flex;
          padding: 5px;
          border-radius: 5px;
          color: #965320;
          background: moccasin;
          border: 1px solid #965320;
          color: #965320;

          &.category-airplant {
            background-color: #a69efa;
            color: #fff;
            border: 1px solid #fff;
          }

          &.category-succulent {
            background-color: #facf9e;
            border: 1px solid #965320;
          }

          &.category-houseplant {
            @include lightbrown;
            background-color: #9efaad;
            border: 1px solid #fff;
          }

          &.category-pots,
          &.category-terrarium {
            @include medbrown;
            background-color: #faa19e;
            color: #fff;
            border: 1px solid #fff;
          }
        }
      }
    }
  }
}

//MEDIA

@media only screen and (max-width: 840px) {
  header.products {
    .header-banner {
      .banner-text {
        .brand-name {
          font-size: 100px;
        }
      }
    }
  }
}

@media only screen and (max-width: 840px) {
  header.products {
    .header-banner {
      .banner-text {
        .brand-name {
          font-size: 120px;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  header.products {
    .header-banner {
      @include green;

      .background {
        height: 200px;
      }
    }
  }
}

@media only screen and (max-width: 520px) {
  header.products {
    .header-banner {
      .banner-text {
        .brand-name {
          font-size: 80px;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .product-nav {
    .main-nav {
      .header-info {
        flex-wrap: wrap;
      }
    }

    .sticky + .guarantee {
      padding-top: 180px;
    }
  }

  //sticky was 300px
}

@media only screen and (min-height: 401px) {
  .menu-button {
    display: none;
  }
  .menu,
  #menu {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .product-nav {
    .main-nav {
      .header-info {
        flex-wrap: wrap;
        justify-content: center;
        .nav-desktop {
          display: block;
        }
      }

      // .sticky + .guarantee {
      //   padding-top: 100px;
      // }
    }
  }
}

@media only screen and (max-width: 380px) {
  header.products {
    .header-banner {
      .banner-text {
        .brand-name {
          font-size: 50px;
        }
      }
    }
  }

  // .product-nav {
  //   .sticky + .guarantee {
  //     padding-top: 100px;
  //   }
  // }
  //no sticky originally
}
