// COMPONENTS
@import "components/components";

//MIXINS
@import "mixins";

html {
  scroll-behavior: smooth;
}

* {
  @include brand-font;
  text-decoration: none;
  list-style: none;
  text-transform: lowercase;
}

body {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
